<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NinjaAssets/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{723, 1655}, {155, 218}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {155, 218}}</string>
			<key>sourceSize</key>
			<string>{155, 218}</string>
		</dict>
		<key>NinjaAssets/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{723, 1435}, {155, 218}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {155, 218}}</string>
			<key>sourceSize</key>
			<string>{155, 218}</string>
		</dict>
		<key>NinjaAssets/Ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2001}, {568, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 30}}</string>
			<key>sourceSize</key>
			<string>{568, 30}</string>
		</dict>
		<key>NinjaAssets/HigherGround.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944, 153}, {70, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 100}}</string>
			<key>sourceSize</key>
			<string>{70, 100}</string>
		</dict>
		<key>NinjaAssets/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{880, 1642}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>NinjaAssets/arrow2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010, 1642}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>NinjaAssets/bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944, 225}, {54, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {54, 54}}</string>
			<key>sourceSize</key>
			<string>{54, 54}</string>
		</dict>
		<key>NinjaAssets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{723, 1099}, {334, 305}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {334, 305}}</string>
			<key>sourceSize</key>
			<string>{334, 305}</string>
		</dict>
		<key>NinjaAssets/circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{880, 1435}, {205, 205}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>sourceSize</key>
			<string>{205, 205}</string>
		</dict>
		<key>NinjaAssets/enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944, 77}, {74, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 100}}</string>
			<key>sourceSize</key>
			<string>{74, 100}</string>
		</dict>
		<key>NinjaAssets/knife.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 1772}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>NinjaAssets/level1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1941, 1096}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1941, 1096}}</string>
			<key>sourceSize</key>
			<string>{1941, 1096}</string>
		</dict>
		<key>NinjaAssets/main_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1099}, {900, 720}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {900, 720}}</string>
			<key>sourceSize</key>
			<string>{900, 720}</string>
		</dict>
		<key>NinjaAssets/ninja.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944, 1}, {74, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 100}}</string>
			<key>sourceSize</key>
			<string>{74, 100}</string>
		</dict>
		<key>NinjaAssets/ninja_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{723, 1875}, {148, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {148, 200}}</string>
			<key>sourceSize</key>
			<string>{148, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>NinjaAssets.png</string>
	</dict>
</dict>
</plist>
