<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>RuralScene/Background2.plist</string>
		<string>RuralScene/Assets.plist</string>
		<string>NinjaAnimation.plist</string>
		<string>IndoorScene/Assets.plist</string>
		<string>ccbResources.plist</string>
		<string>CityScene/Assets.plist</string>
		<string>IndoorScene/Background2.plist</string>
		<string>CityScene/Background2.plist</string>
		<string>EnemyAnimation.plist</string>
		<string>IndoorScene/Background.plist</string>
		<string>CodexAssets.plist</string>
	</array>
</dict>
</plist>
